# Data Cleaning

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/raw/creditcard_2023.csv")

In [4]:
df = df.drop(columns="id")

In [5]:
df.shape

(568630, 30)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568630 entries, 0 to 568629
Data columns (total 30 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   V1      568630 non-null  float64
 1   V2      568630 non-null  float64
 2   V3      568630 non-null  float64
 3   V4      568630 non-null  float64
 4   V5      568630 non-null  float64
 5   V6      568630 non-null  float64
 6   V7      568630 non-null  float64
 7   V8      568630 non-null  float64
 8   V9      568630 non-null  float64
 9   V10     568630 non-null  float64
 10  V11     568630 non-null  float64
 11  V12     568630 non-null  float64
 12  V13     568630 non-null  float64
 13  V14     568630 non-null  float64
 14  V15     568630 non-null  float64
 15  V16     568630 non-null  float64
 16  V17     568630 non-null  float64
 17  V18     568630 non-null  float64
 18  V19     568630 non-null  float64
 19  V20     568630 non-null  float64
 20  V21     568630 non-null  float64
 21  V22     568630 non-null  float64
 22  V23     568630 non-null  float64
 23  V24     568630 non-null  float64
 24  V25     568630 non-null  float64
 25  V26     568630 non-null  float64
 26  V27     568630 non-null  float64
 27  V28     568630 non-null  float64
 28  Amount  568630 non-null  float64
 29  Class   568630 non-null  int64
dtypes: float64(29), int64(1)
memory usage: 130.1 MB

In [7]:
df.to_csv("data_cleaned.csv", index= False)