# Outliers Treatments

In [29]:
import pandas as pd
import numpy as np
from scipy.stats import iqr

In [30]:
df = pd.read_csv("../data/interim/data_cleaned.csv")

In [44]:
for column in df.columns:
    q1 = df[column].quantile(0.25)
    q3 = df[column].quantile(0.75)
    iqr = q3 - q1
    
    upper_limit = q3 + (1.5 * iqr)
    lower_limit = q1 - (1.5 * iqr)

    outliers = df.loc[( (df[column] > upper_limit) | (df[column] < lower_limit) )]

In [46]:
outliers

Empty DataFrame
Columns: [V1, V2, V3, V4, V5, V6, V7, V8, V9, V10, V11, V12, V13, V14, V15, V16, V17, V18, V19, V20, V21, V22, V23, V24, V25, V26, V27, V28, Amount, Class]
Index: []

[0 rows x 30 columns]